@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-space: 0.5rem;
  --base-font-size: 1rem;
}

@media (max-width: $medium-screen) {
  :root {
    --base-space: 0.4rem;
    --base-font-size: 0.85rem;
  }
}

@media (max-width: $small-screen) {
  :root {
    --base-space: 0.3rem;
    --base-font-size: 0.7rem;
  }
}

body {
  font-family: $main-font-family;
  font-size: var(--base-font-size);
  background: $ghost-white-color;
}

h1 {
  font-size: calc(2 * var(--base-font-size));
  text-align: center;
  padding: calc(2 * var(--base-space));
}

h2 {
  font-size: calc(1.5 * var(--base-font-size));
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 calc(2 * var(--base-space));
  margin: auto;
}
