@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-space: 0.5rem;
}

@media (max-width: $medium-screen) {
  :root {
    --base-space: 0.4rem;
  }
}

@media (max-width: $small-screen) {
  :root {
    --base-space: 0.3rem;
  }
}

body {
  font-family: $main-font-family;
  font-size: 1rem;
  background: $ghost-white-color;

  @media (max-width: $medium-screen) {
    font-size: 0.85rem;
  }

  @media (max-width: $small-screen) {
    font-size: 0.7rem;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 calc(2 * var(--base-space));
  margin: auto;
}
