// colors from apple notes color scheme:
$primary-color: #FFD52E;
$ghost-white-color: #F9F9F9;
$platinum-color: #E5E5E5;

$border-color: #D3D3D3;

$black-text: #000;
$dark-gray-text: #000;
$light-gray-text: #000;
$blue-text: #000;

//spaces
$base-space: 8px;

//font-size
$base-font-size: 16px;


//font-family
$main-font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Roboto', sans-serif;

//breack-points
$small-screen: 768px;
$medium-screen: 1024px;

