// colors from apple notes color scheme:
$primary-color: #ffd52e;
$ghost-white-color: #f9f9f9;
$platinum-color: #e5e5e5;

$border-color: #d3d3d3;

$black-text: #000;
$dark-gray-text: #333;
$light-gray-text: #999;

//font-family (apple)
$main-font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Roboto",
  sans-serif;

//breack-points
$small-screen: 768px;
$medium-screen: 1024px;

//mixins
@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
